/.idea/
**/.idea
/box-im.iml
/im-server/im-server.iml
/im-platform/im-platform.iml
/im-client/im-client.iml
/im-common/im-common.iml
/im-uniapp/node_modules/
/im-web/package-lock.json
/im-uniapp/package-lock.json
.env
**/target/

**/node_modules/